<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Meal</title>
</head>
<body>
    <form action="/recipes/createRecipe" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name">
        
        <label for="style">Style</label>
        <input type="text" name="style">
        
        <label for="cookingTime">Cooking Time</label>
        <input type="text" name="cookingTime">
       
        <label for="image">Image Link</label>
        <input type="text" name="image">

        <label for="ingredients">Ingredients</label>
        <textarea name="ingredients" id="" cols="50" rows="10"></textarea>
       
        <label for="instructions">Instructions</label>
        <textarea name="instructions" id="" cols="50" rows="10"></textarea>

        <input type="submit">
    </form>
    <a href="/shoppingList">Shopping List</a>
    <a href="/recipes">All Meals</a>
</body>
</html>