<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/createMeal-styles.css">
    <script src="https://kit.fontawesome.com/ff67ff0440.js" crossorigin="anonymous"></script>
    <title>Add Meal</title>
</head>
<body>
    <div class="wrapper">
        <%- include('./partials/nav.ejs',{activePage: 0}) %>
        <header>
            <h1>Whats your signature dish?</h1>
            <p>add it to our recipies list to share with others</p>
        </header>


        <form action="" class="multiPageForm">
            <div class="tracker">
                <div class="step active">
                    <h2>Basic details</h2>
                </div>
                <div class="step">
                    <h2>Ingredients</h2>
                </div>
                <div class="step">
                    <h2>Instructions</h2>
                </div>
            </div>

            <div class="tab active">

                <div class="mealInfo">
                    <div class="container">
                        <label for="name">Recipe Name</label>
                        <input type="text" name="name" id="recipeName" required>
                    </div>
                    <div class="container">
                        <label for="style">Style</label>
                        <input type="text" name="style" id="recipeStyle" required>
                    </div>
                    <div class="container">
                        <label for="cookingTime">Cooking Time</label>
                        <input type="number" name="cookingTime" id="cookingTime" required min="1">
                    </div>
                    <div class="container">
                        <label for="description">Description</label>
                        <textarea type="text" name="description" id="description" cols="10" rows="5" placeholder="Tell us about your meal..."></textarea>
                    </div>
                </div>

                <div class="pictureInfo">
                    <label for="recipieImage" class="photoUpload">
                        <i class="fa-solid fa-camera"></i>
                        Pick Image
                        <input type="file" name="mainImage" id="recipieImage" accept=".jpg" required/>
                        <span class="fileName">text</span>
                    </label>
                    <picture class="previewImage"> Preview
                    </picture>
                </div>
                <div class="buttons-container">
                    <button type="button" class="btn next">Next</button>
                </div>
            </div>

            <div class="tab ">
                <div class="ingredientsContainer">
                    <div class="left">
                        <!-- <input type="text" name="ingredient" id="ingredientName"> -->
                        <div class="search-box">
                            <input type="text" name="ingredient" id="ingredientName" placeholder="Ingredient">
                            <ul class="autocomplete-box">
                            </ul>
                        </div>
                        <input type="text" name="ammount" id="ingredientAmmount" placeholder="Ammount">
                        <select type="text" name="unit" id="ingredientUnit">
                            <option value="">Unit</option>
                            <option value="g">g</option>
                            <option value="tsp">tsp</option>
                            <option value="ml">ml</option>
                        </select>
                        <button class="addIngredientButton btn" type="button">Add</button>
                    </div>
                    <ul class="ingredientsList">
        
                    </ul>
                </div>
                <div class="buttons-container">
                    <button type="button" class="btn back">Back</button>
                    <button type="button" class="btn next">Next</button>
                </div>
                
            </div>

            <div class="tab">
                <div class="instructionsContainer">
                    <div class="left">
                        <textarea name="instructionInput" id="instructionInput" cols="40" rows="22" placeholder="Enter each step in the instructions"></textarea>
                        <button class="addInstructionButton btn" type="button">Add Step</button></div>
                    <ul class="instructionsList">

                    </ul>
                </div>
                <div class="buttons-container">
                    <button type="button" class="btn back">Back</button>
                    <button type="button" class="btn" id="submitButton">Create Meal</button>
                </div>
            </div>

        </form>
        
    </div>
</body>
<script defer src="/js/addMeal.js"></script>
</html>