<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/landing.css">
    <title>Meal Helper</title>
</head>
<body>
    <section class="cta-container">
        <div class="text">
            <h1>Meal Helper</h1>
            <p>Choose from a selection of scrumptious meals to spice up your weeknights. We make up your shopping list and give you step by step instructions so you know exactly what you need to make each meal the best it can be.</p>
            <p>Got a signature dish? add it to our database for others to enjoy too!</p>
            <a class="btn" href="/auth/login">Log In</a>
        </div>
        <picture></picture>

        <div class="signup">
            <h2>Don't have an account?</h2>
            <p>Signup today to gain free access to your own personal shopping list.</p>
            <a class="btn" href="/auth/signup">Sign Up</a>
        </div>
    </section>
</body>
</html>