.formContainer{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.formContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

form input {
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


input[type="file"]{
   display: none;
}

form textarea {
    width: 80%;
    margin-bottom: 1rem;
}

form button {
    width: 50%;
    padding: 1rem;
}

.mealInfo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.mealInfo input {
    width: 25%;
    margin-right: 1rem;
}

.ingredientsContainer, .instructionsContainer{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
    height: 400px;
    max-height: 400px;
}

.left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    align-content: flex-start;
}




.ingredientsContainer input {
    margin-bottom: 1rem;
    width: 45%;
    height: 3rem;
    margin-right: 1rem;
}

.ingredientsContainer select {
    width: 45%;
    height: 5.4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: gray;
}


.ingredientsContainer button, .instructionsContainer button{
   width: 25%;
}

.search-box {
    display: flex;
    flex-direction: column;
    /* background: #fff; */
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
}

.search-box input {
    margin-bottom: 0;
    text-transform: capitalize;
    width: 93%;
}

.autocomplete-box {
    margin-top: 0;
    max-height: 34rem;
    padding: 0;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    display: none;
    border: 1px solid #444f5a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
}

.autocomplete-box li, .ingredientsList li {
    list-style: none;
    padding: 1rem;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.ingredientsList li {
    width: 100%;
    padding-right: 0;
}

.ingredientsList li:hover {
    background-color: #efefef;
}

.ingredientsList li i,
.instructionsList li i{
   width: 10%;
   margin-left: auto;
   color: var(--darkFont);
   transition: transform .1s ease-in-out;
   cursor: pointer;
}

.ingredientsList li i:hover,
.instructionsList li i:hover{
  transform: scale(1.3);
  color: #444f5a;
 }

.autocomplete-box li picture, .ingredientsList li picture {
    margin-right: 1rem;
}

.autocomplete-box li:hover{
    background: #efefef;
}

.autocomplete-box.active {
    opacity: 1;
    pointer-events: auto;
    display: block;
    background: #fff;
    width: 95%;
    position: absolute;
    top: 5.5rem;
    z-index: 5;
}

.ingredientsList, .instructionsList{
    background: #fff;
    width: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 0;
    height: 400;
    max-height: 400px;
    overflow-y:auto;
    border-radius: 3px;
    border: 1px dashed #444f5a
}

.instructionsList{
    flex-direction: column;
    flex-wrap: nowrap;
}

.instructionsList li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructionsList li:nth-child(even){
    background: #efefef;
}

.instructionsList li p {
   text-align: left;
   margin-right: .5rem;
   margin-left: 1.5rem;
}

.instructionsList li i {
    text-align: center;
    font-size: 2rem;
    width: 20%;
}

.instructionsContainer textarea {
    width: 100%;
    height: 75%;
}

#mainImageForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#mainImageForm button {
    width: 80%;
}

.photoUpload, .previewImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #444f5a;
    border-radius: 5px;
    padding: 3rem;
    font-size: 2rem;
    color: #444f5a;
    cursor: pointer;
    width: 25%;
    height: 11rem;
    overflow:scroll;
}

.photoUpload.focus {
    border: 2px solid blue;
}

.previewImage{
    width: 25%;
    height: 11rem;
    background-position: center;
    background-size: cover;
    cursor: default;
    border: 1px dashed #444f5a;
}

.photoUpload i {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.photoUpload > .fileName {
    color: #444f5a;
    opacity: 0;
    margin-top: 1rem;
}

.multiPageForm{
    background-color: #fff;
    width: 75%;
    height: 60rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.multiPageForm .tracker{
    display: flex;
    width: 100%;
    background-color: #444f5a;
    color:#efefef;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 3rem;
}

.tracker .step {
    padding: 2rem 4rem;
    font-size: .75rem;
}

.tracker .step.active{
    font-size: 1rem;
}

.step.active h2 {
    position: relative;
}

.step.active h2::before{
    content: "";
    height: .5rem;
    width: 120%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1rem;
    background-color: var(--buttonHover);
    border-radius: 3px;
    animation: grow .25s linear;
}

@keyframes grow {
    0%{
        width: 0%;
    }
    80%{
        width: 140%;
    }
    100%{
        width: 120%;
    }
}

.tab{
    display: none;
    height: 100%;
    width: 100%;
}

.tab.active{
    display: flex;
    flex-wrap: wrap;
}

.tab .mealInfo{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.tab .mealInfo .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tab .mealInfo label{
    width: 20%;
    font-size: 1.5rem;
    padding-left: 3rem;
}
.tab .mealInfo input{
    width: 60%;
    font-size: 1.5rem;
}

.mealInfo .message {
    margin-left: 37%;
}

.tab .pictureInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
    padding-top: 2.5rem;
}

.pictureInfo .message {
    margin: -4rem auto auto 5rem;
}

.active button {
    margin-left: auto;
    width: 20%;
    height: 5rem;
    margin-top: auto;
    margin-bottom: 2rem;
}

.active .back{
   margin-left: 5rem;
}

.active .next, #submitButton{
    margin-right: 5rem;
}

.addIngredientButton{
    margin-right: 3rem;
}
