.formContainer{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.formContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

form input {
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

form textarea {
    width: 80%;
    margin-bottom: 1rem;
}

form #ingredientsTA{
    display: none;
}

form label {
    margin-bottom: 1rem;
}

form button {
    width: 100%;
    padding: 1rem;
}

.mealInfo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.mealInfo input {
    width: 25%;
    margin-right: 1rem;
}

.ingredientsContainer{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
    height: 400px;
    max-height: 400px;
}

.ingredientsContainer .left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    align-content: flex-start;
}


.ingredientsContainer input {
    margin-bottom: 1rem;
    width: 45%;
    height: 3rem;
    margin-right: 1rem;
}

.ingredientsContainer select {
    width: 45%;
    height: 5.4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: gray;
}


.ingredientsContainer button{
   width: 25%;
}

.search-box {
    display: flex;
    flex-direction: column;
    /* background: #fff; */
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
}

.search-box input {
    margin-bottom: 0;
    text-transform: capitalize;
    width: 93%;
}

.autocomplete-box {
    margin-top: 0;
    max-height: 20rem;
    padding: 0;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    display: none;
}

.autocomplete-box li, .ingredientsList li {
    list-style: none;
    padding: 1rem;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.ingredientsList li {
    width: 45%;
    padding-right: 0;
}

.autocomplete-box li picture, .ingredientsList li picture {
    margin-right: 1rem;
}

.autocomplete-box li:hover{
    background: #efefef;
}

.autocomplete-box.active {
    opacity: 1;
    pointer-events: auto;
    display: block;
    background: #fff;
    width: 95%;
    position: absolute;
    top: 5.5rem;
}

.ingredientsList{
    background: #fff;
    width: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 0;
    height: 400;
    max-height: 400px;
    overflow-y:auto;
    border-radius: 3px;
}
