.btn {
  color: white;
  background: black;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  text-align: center;
  border: 0;
}
.btn:hover {
  background: grey;
}

.meals-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  grid-gap: 2em;
  padding: 1em;
}

/* Meal Container */
.meal-container {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-gap: 0.5rem;
  height: 40rem;
  background: var(--primary);
  box-shadow: var(--shadow);
}

.meal-info {
  display: flex;
  flex-direction: column;
}

.meal-image {
  max-height: 200px;
}

.meal-info a {
  display: flex;
  justify-content: start;
  font-size: 1.1rem;
  margin: 0.5rem 1rem 1rem 1rem;
}

.meal-info i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.meal-info h2,
p {
  margin: 0.1rem 1rem 0 1rem;
}

.meal-info h2 {
  font-size: 2.2rem;
}

.meal-info p {
  font-size: 1.2rem;
}

.meal-info form {
  margin: 0 1rem 1rem 1rem;
}
form button {
  display: flex;
  justify-content: start;
  font-size: 1.1rem;
  width: 100%;
  cursor: pointer;
}
