

.btn {
  color: white;
  background: var(--buttonPrimary);
  padding: 0.6rem 1.3rem;
  margin-bottom: 2rem;
  text-decoration: none;
  text-align: center;
  border: 0;
  border-radius: 3px;
}
.btn:hover {
  background: var(--buttonHover);
}

h1 {
  text-align: center;
}

.meals-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

/* Meal Container */
.meal-container {
  display: flex;
  flex-direction: column;
  background: var(--primary);
  box-shadow: var(--shadow);
  border-radius: 3px;
  max-width: 250px;
  margin: 1rem;
}

.meal-container picture {
  position: relative;
}


.meal-container picture::after{
  content: attr(data-time);
  position: absolute;
  display: block;
  height: 15%;
  width: 15%;
  /* background: #fff; */
  bottom: 5%;
  left: 5%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--darkFont);
  border: 3px solid var(--darkFont);
  z-index: 1;
}

.meal-container picture::before{
  content: '';
  position: absolute;
  display: block;
  height: 15%;
  width: 15%;
  background: #fff;
  opacity: .7;
  bottom: 5%;
  left: 5%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  border: 3px solid transparent; 
}

.meal-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.meal-info h2 {
  font-size: 2rem;
  margin: .5rem 0;
  padding: 0 1rem;
  color: var(--darkFont);
}

.meal-info a {
  width: 40%;
  margin: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meal-info form {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.meal-info form button {
 margin: 0 .5rem;
 width: 40%;
 display: flex;
 justify-content: space-between;
 cursor: pointer;
}

