.meals-grid-container {
  display: grid;
  grid-template-columns: 1.25fr 8.75fr;
  height: 100vh;
  grid-column-gap: 1em;
  padding: 1em;
}

.meals-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  padding: 1em;
}

.meal-container h3 {
  margin: 0;
}
.meal-display h2 {
  width: 80%;
  margin-top: 0.1em;
  margin-right: 0;
}

p {
  margin: 0.5em 0;
}
form button {
  margin-top: 0.5em;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul li {
  margin-top: 0.4em;
}
