:root {
  --primary: #f4f7fa;
  --dark: black;
  --light: white;
  --darkFont: #333d47;
  --buttonPrimary: #3b36c9;
  --buttonHover: #625ED4;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  background: #D1DEEA;
  margin: 0;
  line-height: 1.4;
}

/* Main Layout */
.wrapper {
  display: flex;
  flex-direction: column;
}


header{
  text-align: center;
  background-color: #fff;
  color: var(--darkFont);
  padding: 4rem;
  margin-bottom: 1rem;
}

header h1{
  font-size: 4rem;
}

header p {
  font-size: 1.5rem;
  color: var(--darkFont);
}

/* Navigation */
.main-nav ul {
  background: var(--darkFont);
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  height: 8rem;
}

.main-nav li {
  height: 100%;
}

.main-nav a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--darkFont);
  color: #f4f7fa;
  text-decoration: none;
  padding-left: 0.8rem;
  padding-right: .8rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  height: 100%;
}

.main-nav i {
  font-size: 2rem;
  padding: 0.8rem;
}

.main-nav a:hover {
  background: #f4f7fa;
  color: var(--darkFont);
}

.btn {
  color: white;
  background: var(--buttonPrimary);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  text-align: center;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background: var(--buttonHover);
  color: white;
}

.message{
  padding: .5rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: #fff;
  color: #444f5a;
  width: 20rem;
  border-radius: 5px;
  display: none;
  align-items: center;
  justify-content: flex-start;
  box-shadow: var(--shadow);
}

.message.active{
  display: flex;
}


.message i {
 width: 20%;
 font-size: 2rem;
 padding: 1rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-transform: capitalize;
}

.textContainer span:last-child {
  font-size: 1.2rem;
  color: #6b727a;
}

.success, .error, .required {
  position: relative;
}

.success i {
  color: rgb(54, 201, 22);
}
.success::before {
  background-color: rgb(54, 201, 22);;
}

.success::before,.error::before,.required::before{
  content: "";
  height: 100%;
  width: .75rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.error::before{
  background-color: rgb(239, 37, 54);
}

.error i {
  color: rgb(239, 37, 54) ;
}

.required::before{
  background-color: rgb(251, 180, 26);
}

.required i {
  color: rgb(251, 180, 26);
}


.redirect-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 0 auto;
}

.redirect-container i {
  font-size: 5rem;
  color: var(--darkFont);
  margin-bottom: 1rem;
}

.redirect-container p {
  font-size: 1.5rem;
  width: 60%;
  text-align: center;
  color: var(--darkFont);
  margin-bottom: 1.5rem;
}

.redirect-container .btn.large{
  font-size: 2.5rem;
}
