:root {
  --primary: #f4f7fa;
  --dark: black;
  --light: white;
  --buttonPrimary: #3b36c9;
  --buttonHover: #625ED4;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  background: #ccc;
  margin: 3rem 5rem;
  line-height: 1.4;
}

/* Main Layout */
.wrapper {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-gap: 2rem;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 2rem;
  padding: 0;
  list-style: none;
  grid-template-rows: 1fr;
}

.main-nav a {
  display: flex;
  justify-content: space-between;
  background: var(--primary);
  color: var(--dark);
  box-shadow: var(--shadow);
  text-decoration: none;
  padding: 0.8rem;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.main-nav i {
  font-size: 2rem;
  padding: 0.8rem;
}

.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
}

.btn {
  color: white;
  background: var(--buttonPrimary);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  text-align: center;
  border: 0;
  border-radius: 5px;
}
.btn:hover {
  background: var(--buttonHover);
  color: white;
}