:root {
  --primary: #f4f7fa;
  --dark: black;
  --light: white;
  --darkFont: #333d47;
  --buttonPrimary: #3b36c9;
  --buttonHover: #625ED4;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  background: #D1DEEA;
  margin: 0;
  line-height: 1.4;
}

/* Main Layout */
.wrapper {
  display: flex;
  flex-direction: column;
}


header{
  text-align: center;
  background-color: #fff;
  color: var(--darkFont);
  padding: 4rem;
  margin-bottom: 1rem;
}

header h1{
  font-size: 4rem;
}

header p {
  font-size: 1.5rem;
  color: var(--darkFont);
}

/* Navigation */
.main-nav ul {
  background: var(--darkFont);
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  height: 8rem;
}

.main-nav li {
  height: 100%;
}

.main-nav a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--darkFont);
  color: #f4f7fa;
  text-decoration: none;
  padding-left: 0.8rem;
  padding-right: .8rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  height: 100%;
}

.main-nav i {
  font-size: 2rem;
  padding: 0.8rem;
}

.main-nav a:hover {
  background: #f4f7fa;
  color: var(--darkFont);
}

.btn {
  color: white;
  background: var(--buttonPrimary);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  text-align: center;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background: var(--buttonHover);
  color: white;
}